{% load static %}

<style>
  .Hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/black.png' %}" height="50" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Download' %}">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'Upload' %}">Upload</a>
      </li>
    </ul>
  </div>

  <span class='Hello-msg'>Hello, {{request.user}}</span>
  <span><a class='Hello-msg' href = "{% url 'logout' %}">Logout</a></span>

</nav>  

